:root{
  --navbarHeight: 70px
}
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
html{
  background: #fafafa;
  font-family: monospace;
}
body, html{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: monospace;
}
.nav{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 60px 10px 20px;
	background: #fafafa; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: var(--navbarHeight);
  border-bottom: 1px solid black;
}
.logo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 280px;
}
.links{
  padding-left: 35px;
  display: flex;
  flex: 1;
  gap: 20px;
}
.heroTitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  transition: color 0.15s ease-in; 
  padding-bottom: 15px;
  padding-top: 10px;
}
.heroTitle:hover{
  color: #ee6f57;
}
.introduction{
  color: #ee6f57;
  background-color: rgba(0,0,0,0.3);
  font-size: 2em;
  display: flex;
  margin: 60px 20% 0px 20%;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

a:link {
  text-decoration: none; 
}

.content{
  margin-top: calc(60px + var(--navbarHeight));
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-container{
  background-color: white;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.formSection{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.desc{
  grid-column: 1/-1;
}
textarea{
  resize: none;
  min-width: 400px;
  min-height: 80px;
}
.card{
  color: black;
  width: 200px;
  height: 200px;
  border-radius: 5px ;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.outerCard{
  width: 240px;
  font-family:monospace;
}
.cardDescription{
  margin-top: 10px;
  display: grid;
  gap:5px;
  grid-template-columns: 5fr 1fr;
  justify-content: start;
  align-items: start;
}

.cardHolder{
  display: grid;
  gap: 40px;
  padding: 40px 150px 40px 150px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.active{
  border-bottom: 1px solid black;
}

.mainC{
  margin-top: calc(50px + var(--navbarHeight));
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchdiv{
  display: flex;
  justify-content: center;
}
.searchbar{
  display: flex;
  color:black;
  min-width: 300px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}