:root{
  --navbarHeight: 70px
}
h1,h2,h3,h4,h5,p{
  padding: 0;
  margin: 0;
}
html{
  background: white;
  font-family: monospace;
}
body, html{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: monospace;
}
.nav{
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 15px 80px 15px 30px;
	background: #fafafa; 
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  height: var(--navbarHeight);
  border-bottom: 1px solid black;
}
.logo{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.links{
  margin-left: 40px;
  display: flex;
  gap: 20px;
  justify-self: center;
}
.heroTitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  transition: color 0.15s ease-in; 
  padding-bottom: 7px;
  padding-top: 12px;
}
.checkout{
  margin-left: auto;
}
.active{
  border-bottom: 1px solid black;
}
.heroTitle:hover{
  color: #ee6f57;
}
.introduction{
  color: #ee6f57;
  background-color: rgba(0,0,0,0.3);
  font-size: 2em;
  display: flex;
  margin: 60px 20% 0px 20%;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

a:link {
  text-decoration: none; 
}

.content{
  margin-top: calc(60px + var(--navbarHeight));
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container{
  background-color: white;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
}

form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.formSection{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.desc{
  grid-column: 1/-1;
}
textarea{
  resize: none;
  min-width: 400px;
  min-height: 80px;
}

.outerCard, .outerBagItem{
  padding: 20px;
  width: 240px;
  font-family:monospace;
  display: flex;
  flex-direction: column;
}
.outerBagItem{
  flex-direction: row;
  width: 600px;
  gap: 20px;
}
.card, .bagItem{
  color: black;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* padding: 20px; */
}
.bagItem{
  max-width: 100px;
  max-height: 100px;
}
.buttonDiv, .cartButtonDiv{
  display: flex;
  margin-left: auto;
  /* margin-bottom: 10px; */
  border-radius: 5px;
  gap: 5px;
  background-color: white;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}
.cartButtonDiv{
  grid-column: 1/-1;
  align-self: flex-end;
}
.add, .remove, .delete{
  background-color: rgba(0,0,0,0.15);
  background-image: url('../public/plus.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  border: none;
  font-size: large;
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, background-image 0.1s ease-in-out;
}
.delete{
  margin-left: 10px;
  background-image: url('../public/delete.svg');
}
.delete:hover{
  background-image: url('../public/delete2.svg');
  cursor: pointer;
}
.remove{
  background-image: url('../public/minus.svg');
}
.add:hover{
  background-color: #ee6f57;
  cursor: pointer;
  background-image: url('../public/plus2.svg');
}
.remove:hover{
  background-color: #ee6f57;
  cursor: pointer;
  background-image: url('../public/minus2.svg');
}
.cardDescription, .itemDesc{
  margin-top: 10px;
  display: grid;
  gap:5px;
  grid-template-columns: 5fr 1fr;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.itemDesc{
  justify-content: end;
}
.cardHolder{
  display: grid;
  gap: 40px;
  padding: 40px 150px 40px 150px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.mainC{
  margin-top: calc(50px + var(--navbarHeight));
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchdiv{
  display: flex;
  justify-content: center;
}
.searchbar{
  display: flex;
  color:black;
  min-width: 300px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  transition: border-color 0.2s ease; /* Smooth transition */
}

.searchbar:focus {
  border-color: #ee6f57;
}
.checkoutPage{
  margin-top: calc(50px + var(--navbarHeight));
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  justify-items: start;
}
.orderSummary{
  padding-left: 10%;
}
.billing{
  height: max-content;
  width: 70%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.orderDetails{
  background-color: #b8b8b8;
  padding-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:15px
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}